/direnv/allow/*
/nvim/bundle/*
/nvim/.netrwhist
/configstore/*.json

# just in case
*[cC]ache*

/discord
/dconf
/jack
/pulse
/Slack
/systemd
/menus
/gtk-*
/zoomus.conf
zoom.conf
/GIMP
/falkTX
/libreoffice

*.gpg
